In [4]:
import pandas as pd

growth = pd.Series([143,150,157,160], index = ["2018","2019","2020","2021"], name = '신장')
growth

2018    143
2019    150
2020    157
2021    160
Name: 신장, dtype: int64

In [5]:
growth["2020"]

157

In [6]:
#index안적으면 숫자로 (리스트처럼) 적힌다.
growth = pd.Series([143, 150,157,160])
growth

0    143
1    150
2    157
3    160
dtype: int64

In [7]:
#series만들고 데이터 프레임 만들기 sol1)
index = ["2018","2019","2020","2021"]
Y = pd.Series([143,150,157,160], index=index)
C = pd.Series([165,172,175,180], index=index)
growth = pd.DataFrame({
    "영희" : Y,
    "철수" : C
})
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [8]:
#데이터를 바로 집어 넣어서 만드는 방법 sol2)
data = {
    "영희" : [143,150,157,160],
    "철수" : [165,172,175,180]
}
growth = pd.DataFrame(data, columns=["영희", "철수"], index = index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [9]:
#데이터 타입 확인 및 형변환
print(growth.dtypes)

영희    int64
철수    int64
dtype: object

In [10]:
#파일 읽어오기 중요!
pd.read_csv('1.csv', index_col=0) #index_col을 넣으면 특정열을 인덱스로 사용할 수 있다.

     a  b  c
0    1  2  3
100  4  5  6

In [3]:
#해보기
import pandas as pd
pd.read_csv('../2.csv', index_col=0)

     a  b  c
0    1  2  3
100  4  5  6

In [12]:
print(growth)
# growth.to_csv("output.csv")

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [13]:
#슬라이싱 가능
data = {
    "영희" : [143,150,157,160],
    "철수" : [165,172,175,180],
    "영철" : [170,173,178,183]
}
growth = pd.DataFrame(data, columns=["영희", "철수","영철"], index = index)

growth
# growth['영희']
# growth.영희

       영희   철수   영철
2018  143  165  170
2019  150  172  173
2020  157  175  178
2021  160  180  183

In [14]:
growth.iloc[0]

영희    143
철수    165
영철    170
Name: 2018, dtype: int64

In [15]:
growth.iloc[:,0]

2018    143
2019    150
2020    157
2021    160
Name: 영희, dtype: int64

In [16]:
growth.iloc[:2,:2]

       영희   철수
2018  143  165
2019  150  172

In [17]:
growth.iloc[-2:,-2:]

       철수   영철
2020  175  178
2021  180  183

In [18]:
growth.iloc[-2:]

       영희   철수   영철
2020  157  175  178
2021  160  180  183

In [19]:
##label 베이스 <-행 기반

growth.loc['2020','영희']

157

In [20]:

growth.loc['2020','철수']

175

In [21]:

growth.loc['2020']

영희    157
철수    175
영철    178
Name: 2020, dtype: int64

In [22]:
growth.loc[:,['영희','영철']]

       영희   영철
2018  143  170
2019  150  173
2020  157  178
2021  160  183

In [23]:
#레이블 기반! 직관적임! 아래와 동치!
growth.loc[['2018','2020'],['영희','영철']]

       영희   영철
2018  143  170
2020  157  178

In [24]:
#인덱스 기반! 위와 동치! 근데 직관적이지 않음
growth.iloc[[0,2],[0,2]]

       영희   영철
2018  143  170
2020  157  178

In [25]:
#loc하면 마지막까지 포함됨
growth.loc['2018':'2020',"영희":"철수"]

       영희   철수
2018  143  165
2019  150  172
2020  157  175

In [26]:
growth.iloc[0:3,0:2]

       영희   철수
2018  143  165
2019  150  172
2020  157  175

In [27]:
#특정 colum을 인덱스로 쓰겠다!<-유용할 수 있다.
growth.set_index("철수")

      영희   영철
철수
165  143  170
172  150  173
175  157  178
180  160  183

In [28]:
# !1중요!!1 conditionalselection(조사식)
growth.loc[growth.영희 > 150]

       영희   철수   영철
2020  157  175  178
2021  160  180  183

In [29]:
growth.영희>150

2018    False
2019    False
2020     True
2021     True
Name: 영희, dtype: bool

In [30]:
index = ["영희","철수","영철"]
data = {
    "2018" : [143,165,170],
    "2019" : [150,172,175],
    "2020" : [157,177,180]
}
growth = pd.DataFrame(data, index = index)

growth
# growth['영희']
# growth.영희

    2018  2019  2020
영희   143   150   157
철수   165   172   177
영철   170   175   180

In [31]:
growth["2019"]>150

영희    False
철수     True
영철     True
Name: 2019, dtype: bool

In [32]:
growth["2019"] = 190
print(growth)

    2018  2019  2020
영희   143   190   157
철수   165   190   177
영철   170   190   180

In [38]:
growth["2021"] = 200
# print(growth)
print(growth.values[0])
print(growth.index[0])

[143 190 157 200   3]
영희

In [42]:
print(growth.values)
print(growth.index)

[[143 190 157 200   3]
 [165 190 177 200   2]
 [170 190 180 200   1]]
Index(['영희', '철수', '영철'], dtype='object')

In [34]:
growth["거꾸로"] = range(len(growth),0,-1)
print(growth)

    2018  2019  2020  2021  거꾸로
영희   143   190   157   200    3
철수   165   190   177   200    2
영철   170   190   180   200    1

In [44]:
growth["2018"].idxmax()

'영철'

In [46]:
growth["2018"].idxmin()

'영희'

In [48]:
growth["2018"].argmax()

2

In [50]:
growth["2018"].argmin()

0

In [53]:
growth["2018"].map(lambda x:x>150)

영희    False
철수     True
영철     True
Name: 2018, dtype: bool

In [55]:
growth["2018"].map(lambda x:x>150).sum()

2

In [58]:
def check(row):
    if row['2018'] > 160:
        return 2
    elif row['2018'] > 150:
        return 1
    else:
        return 0

growth.apply(check, axis="columns")

영희    0
철수    2
영철    2
dtype: int64

In [8]:
def check2(col):
    if col['영희'] > 160:
        return 2
    elif col['영희'] > 150:
        return 1
    else:
        return 0

growth.apply(check2, axis="rows")

NameError: name 'growth' is not defined

In [14]:
index = ['2018','2019','2020','2021']

#sol1)
data={
    '영희':[143,150,157,160],
    '철수':[165,172,175,180]
}
growth = pd.DataFrame(data,index=index)
growth

#sol2)
yh = pd.Series([143,150,157,160],index=index)
cs = pd.Series([165,172,175,180],index=index)
growth = pd.DataFrame({
    '영희':yh,
    '철수':cs
})
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [19]:
import pandas as pd
fruits = pd.DataFrame({'Apples':[30],'Bananas':[21]})
fruits

   Apples  Bananas
0      30       21

In [22]:
fruits = pd.DataFrame({'Apples':[35,41],'Bananas':[21,34]},index=['2017 Sales','2018 Sales'])
fruits

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [26]:
index = ['Flour','Milk','Eggs','Spam']
data = ['4 cups','1 cup','2 large','1 can']
ingredients = pd.Series(data,index=index,name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [35]:
reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [38]:
animals = pd.DataFrame({'Cows':[12,20],'Goats':[22,19]}, index = ['Year1','Year2'])
animals
animals.to_csv("cows_and_goats.csv")